<div ng-controller="BillsController as billsCtrl">
    <button ng-click="billsCtrl.add()" type="button" class="btn btn-primary">
        Ajouter
    </button>
    <table class="table table-hover">
        <tr>
            <th>
                Date
            </th>
            <th>
                Personnes
            </th>
            <th>
                Montant
            </th>
            <th>
                Me doivent
            </th>
            <th>
                Description
            </th>
            <th>
            </th>
        </tr>
        <tr ng-repeat="bill in billsCtrl.bills track by $index">
            <td ng-click="billsCtrl.update($index)">
                {{bill.date | date:'d MMM yy'}}
            </td>
            <td ng-click="billsCtrl.update($index)">
                <div ng-repeat="user in bill.group">{{user.userName}}</div>
            </td>
            <td ng-click="billsCtrl.update($index)">
                {{bill.amount}}
                €
            </td>
            <td ng-click="billsCtrl.update($index)">
                <div ng-repeat="user in bill.group">{{user.owed}} €</div>
            </td>
            <td ng-click="billsCtrl.update($index)">
                {{bill.title}}
            </td>
            <td>
                <button ng-click="billsCtrl.delete($index)" type="button" class="material-icons close" aria-label="Close">
                    close
                </button>
            </td>
        </tr>
    </table>
</div>